# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

NEXT_PUBLIC_SANITY_PROJECT_ID="80g0cuqw"
NEXT_PUBLIC_SANITY_DATASET="production"
REDIS_URI="redis://red-cj33rrtiuie55pj373s0:Kzl0JX7YIEydlvuWFI6k9FLN1n8dJYdp@oregon-redis.render.com:6379"